.site-header {
  position: relative;
  min-height: 64px;

  .search-form {
    padding: 0.5em 2.5em 0.5em 0.5em;
    position: relative;
    display: none;

    input {
      font-size: inherit;

      &[type="search"] {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        width: 100%;
      }

      &[type="submit"] {
        background-image: url(images/ic_search_white_24px.svg);
        background-repeat: no-repeat;
        background-position: center;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        color: transparent;
        position: absolute;
        overflow: hidden;
        top: 0.5em;
        right: 0.5em;
        text-shadow: none;
        width: 2em;
        height: 1.75em;
      }
    }
  }
}

@media screen and (min-width: $size__breakpoint-small) {
  .site-header .search-form {
    display: block;
    padding: 0 2em 0 0;
    position: absolute;
    right: 0;
    bottom: 0;

    input {
      &[type="search"] {
        transition: width 0.3s ease-out;
        width: 6em;
        &:focus {
          width: 20em;
        }
      }

      &[type="submit"] {
        top: 0;
        right: 0;
      }
    }
  }
}

@media screen and (min-width: $size__breakpoint-large) {
  .site-header .search-form input[type="search"] {
    width: $size__site-max-width / 4 - 0.5;
    &:focus {
      width: $size__site-max-width / 8 * 3;
    }
  }
}

.site-branding {
  background-size: contain;
  background-repeat: no-repeat;
  color: $color__text-heading;
  font-family: $font__heading;
  padding: 4px 64px 4px 56px;
}
.site-title {
  font-size: 1.75em;
  font-weight: bold;
  margin: 0;

  a {
    color: inherit;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.site-description {
  margin: 0;
}

.menu-toggle {
  background: none;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px 12px;

  &:active,
  &:hover,
  &:focus {
    box-shadow: none;
    opacity: 0.5;
  }
  
  svg {
    fill: $color__text-heading;
  }
}
