@import "../layout/content-sidebar";
// @import "../layout/sidebar-content";
.site {
	background-color: $color__background-page;
	max-width: $size__site-max-width;
	margin: 0 auto;
}
.site-content {
	padding: 16px;
}
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";