.widget {
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

@media screen and (min-width: $size__site-max-width) {
	.widget-area {
		display: flex;
		flex-wrap: wrap;

		.widget {
			flex-basis: (100% / 3);
		}
	}
}
