.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		display: none;
		font-weight: bold;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			position: absolute;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			position: relative;
			left: auto;
		}
	}

	li {
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		color: $color__text-heading;
		padding: 0.375em 0.5em;
		text-decoration: none;
		&:hover,
		&:focus {
			background-color: $color__background-body;
			color: $color__background-page;
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: $size__breakpoint-small) {
	.menu-toggle {
		display: none;
	}
	.main-navigation {
		ul {
			display: block;

			ul {
				background-color: $color__background-page;
				box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
				float: left;
				top: 2em;

				a {
					width: 200px;
				}

				:hover > a,
				.focus > a {
				}

				a:hover,
				a.focus {
				}
			}

			li:hover > ul,
			li.focus > ul {
				position: absolute;
			}
		}

		li {
			float: left;

			&:hover > a,
			&.focus > a {
			}
		}
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
