.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

@media screen and (min-width: $size__breakpoint-small) {
	.entry-image {
		float: right;
		max-width: $size__breakpoint-small / 2;
	}
}

@media screen and (min-width: $size__breakpoint-large) {
	.entry-image {
		float: right;
		max-width: $size__breakpoint-large / 2;
	}
}
